body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #c6ff00, #aeea00);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background: #f9f9f9;
    padding: 25px;
    border-radius: 18px;
    width: 340px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

h1 {
    margin-bottom: 15px;            
}

#pregunta {
    font-size: 18px;
    margin-bottom: 15px;
}

.opcion {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.opcion:hover { 
    background: #e0e0e0;
    transform: scale(1.02);
}

.opcion:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
    
#resultado {
    margin-top: 10px;
    font-weight: bold;
}

#puntaje {
    margin-top: 5px;
    font-size: 14px;
}

#btnSiguiente,#btnReiniciar {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
}

#btnSiguiente:hover,#btnReiniciar:hover {
    background: #000;
}